<div>
    <h3>Red Button</h3>
    <h4>разработано с использованием:</h4>

    <p style="font-size: 14px;">
        <a href="https://www.jetbrains.com/">JetBrains</a><span class="vertical-text-line">|</span>
        <a href="https://www.jetbrains.com/webstorm/">WebStorm</a><span class="vertical-text-line">|</span>
        <a href="https://nodejs.org">Node.js</a><span class="vertical-text-line">|</span>
        <a href="https://github.com/tshemsedinov/impress">Impress Application Server</a><span class="vertical-text-line">|</span>
        <a href="https://angularjs.org/">AngularJS</a><span class="vertical-text-line">|</span>
        <a href="https://material.angularjs.org/">Angular Material</a><span class="vertical-text-line">|</span>
        <a href="http://getbootstrap.com/">Bootstrap</a><span class="vertical-text-line">|</span>
        <a href="https://jquery.com/">JQuery</a><span class="vertical-text-line">|</span>
        <a href="http://momentjs.com//">Moment.js</a><span class="vertical-text-line">|</span>
        <a href="http://underscorejs.org/">Underscore.js</a>
    </p>

    <div layout="column">
        <div layout="row" layout-align="start center">
            <a href="https://www.jetbrains.com/"><img style="margin: 20px;" src="../assets/images/jetbrains_logos/logo_JetBrains_4.png" width="240"></a>
            <a href="https://www.jetbrains.com/webstorm/"><img style="margin: 20px;" src="../assets/images/webstorm_logos/logo_WebStorm.png" width="240"></a>
            <a href="https://nodejs.org">
                <div style="width: 240px; margin: 20px; padding: 30px; background-color: #333;">
                    <img src="../assets/images/nodejs-new-white-pantone.png" height="108px;">
                </div>
            </a>
            <a href="https://github.com/tshemsedinov/impress"><img src="../assets/images/impress_logo.png" width="240"> </a>
        </div>
        <div layout="row" layout-align="start center">
            <a href="https://angularjs.org/"><img style="margin: 20px;" src="../assets/images/AngularJS-large.png" width="240"></a>
            <a href="http://getbootstrap.com/"><img src="../assets/images/bootstrap-solid.svg" style="margin: 20px;" width="120"></a>
            <a href="https://jquery.com/"><img src="../assets/images/jquery-mark-light.gif" width="240"></a>
            <a href="http://underscorejs.org/"><img src="../assets/images/underscore.png" width="240"></a>
        </div>
    </div>

</div>